    @font-face {
        font-family: 'vazir';
        src: url('../fonts/vazir.eot');
        src: url('../fonts/vazir.ttf') format('truetype'), url('../fonts/vazir.woff2') format('woff2'), url('../fonts/vazir.woff') format('woff');
    }
    
     :root {
        --bodyColor: #ffffff;
        --mainColor: #ffffff;
        --primaryColor: #311B92;
        --secondaryColor: #777;
        --blackColor: #000000;
        --lienerGradient: linear-gradient(90deg, #c50707, #faa000);
        --transitionLiener: all .4s liner;
        --transitionEasein: all .4s ease-in-out;
        scroll-behavior: smooth;
    }
    
    * {
        margin: 0;
        padding: 0;
        outline: none;
        list-style: none;
        box-sizing: border-box;
    }
    
    a {
        text-decoration: none;
    }
    
    body {
        direction: rtl;
        font-family: 'vazir';
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        background-color: var(--mainColor);
        height: 100vh;
    }
    
    .container {
        text-align: center;
    }
    
    .container .btn {
        width: 200px;
        background: #ec5c08;
        font-size: 25px;
        padding: 10px;
        font-family: 'vazir';
        color: var(--mainColor);
        cursor: pointer;
        border: none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }