@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot');
    src: url('../fonts/vazir.ttf') format('truetype'), url('../fonts/vazir.woff2') format('woff2'), url('../fonts/vazir.woff') format('woff');
}

:root {
    --bodyColor: #ffffff;
    --mainColor: #ffffff;
    --primaryColor: #151729;
    --secondaryColor: #777;
    --blackColor: #000000;
    --lienerGradient: linear-gradient(90deg, #c50707, #faa000);
    --transitionLiener: all .4s liner;
    --transitionEasein: all .4s ease-in-out;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    direction: rtl;
    font-family: 'vazir';
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
}

#section-1 {
    background: #b71c1c;
}

#section-2 {
    background: #E65100;
}

#section-3 {
    background: #33691E;
}

#section-4 {
    background: #0D47A1;
}

#section-5 {
    background: #92095b;
}

.to-top {
    position: fixed;
    right: 25px;
    bottom: 25px;
    background: var(--mainColor);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    opacity: 0;
}

.to-top svg {
    font-size: 30px;
    color: var(--blackColor);
}

.to-top.active {
    opacity: 1;
    bottom: 40px;
}